**/__pycache__/
debug_fatrop_A.mtx
debug_fatrop_actual.mtx
debug_fatrop_B.mtx
debug_fatrop_C.mtx
debug_fatrop_D.mtx
debug_fatrop_errors.mtx
debug_fatrop_expected.mtx
debug_fatrop_I.mtx
nlp_hess_l.casadi
debug_fatrop.py
fatrop_generated/
ocp.c
data/
*.engine
*.torchscript
*.onnx
*.pt
# Packaging/build artifacts
*.egg-info/
build/
dist/
scripts/python/core/sync_check_video2.mp4
scripts/python/core/point_saved.json
scripts/python/core/sync_check_video1.mp4
